# Execucao
TOTAL_ROUNDS=32
JMETER_WORKERS=25
CALIPER_WORKERS=5
ORDERERS=5

# Fabric
FABRIC_CHANNEL=gercom
FABRIC_CHAINCODE=simple
FABRIC_VERSION=2.5.14

# Servicos locais
API_HOST=127.0.0.1
API_PORT=3000
MONITOR_HOST=127.0.0.1
MONITOR_PORT=3002

# Ferramentas
JMETER_VERSION=5.6.3
JAVA_VERSION=21.0.7