simpleArgs: &simple-args
  initialMoney: 10000
  moneyToTransfer: 100
  numberOfAccounts: &number-of-accounts 1000

test:
  name: simple-query
  description: Rodada de Query (Consulta de Contas)
  workers:
    number: 1
  rounds:
    - label: query
      description: Teste de performance de consulta.
      txNumber: *number-of-accounts
      rateControl:
        type: fixed-rate
        opts:
          tps: 100
      workload:
        module: simple/query.js
        arguments: *simple-args

