simpleArgs: &simple-args
  initialMoney: 10000
  moneyToTransfer: 100
  numberOfAccounts: &number-of-accounts 1000

test:
  name: simple-open
  description: Rodada de Open (Abertura de Contas)
  workers:
    number: 1
  rounds:
    - label: open
      description: Teste de abertura de contas.
      txNumber: *number-of-accounts
      rateControl:
        type: fixed-rate
        opts:
          tps: 50
      workload:
        module: simple/open.js
        arguments: *simple-args

